<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,th,tr,td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h3>Student Info</h3>
    <table>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Fee</th>
        {% for st in stu %}
        <tr>
            <td>{{st.id}}</td>
            <td>{{st.name}}</td>
            <td>{{st.age}}</td>
            <td>{{st.fee}}</td>
        </tr>
        {% endfor %}
    </table>
        <br>
        <table>
            <h3>Teacher Info</h3>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Date</th>
        <th>Salary</th>

        {% for st in tea %}
        <tr>
            <td>{{st.id}}</td>
            <td>{{st.name}}</td>
            <td>{{st.age}}</td>
            <td>{{st.date}}</td>
            <td>{{st.salary}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>