<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(232, 213, 213);">
    <h1>first heading</h1>
    <p>Course name is:{{name|upper}}</p>
    <p>Duration of course is:{{du}}</p>
    <p> {{text|capfirst}}</p>
    <p>{{text| length}}</p>
    <p>date and time is: {{dt}}</p>
    <p>date : {{dt| date:'D d M Y'}}</p>
    <p>time is: {{dt | time:'H i'}}</p>
    <p>date and time is: {{dt|time:'TIME_FORMAT'}}</p>
    
    
    
    
</body>
</html>