{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis consequuntur nobis dolor omnis iusto reiciendis suscipit asperiores assumenda? Sint dolorum tempora reprehenderit aspernatur quia aliquid similique expedita sequi, deserunt dolorem!
    Animi optio volupmus unde voluptates sunt deserunt magnam dolor!
    Eos neque error laboriosam accusamus itaque qui atque deserunt nostrum. Voluptatibus cumque ut perferendis, aspernatur enim numquam quod eligendi esse corporis quaerat magnam quasi, ducimus consequatur nihil ad similique adipisci.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam facere assumenda voluptatem. Hic quam magnam ipsam eum quia est sequi obcaecati beatae in, officiis vero, quasi recusandae nobis autem! Eveniet?
    Esse, incidunt voluptatibus debitis similique aliquid cumque, dignissimos reprehenderit nesciunt hic et nostrum temporibus quasi obcaecati quisquam modi beatae quae sint dolores, laudantium ducimus consectetur nam quas distinctio. Temporibus, qui.</p>
</div>

{% endblock content %}