<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>ID</th>
        <th>Name</th>
        <th>Roll</th>
        {% for st in s %}
        <tr>
            <td>{{st.id}}</td>
            <td>{{st.name}}</td>
            <td>{{st.roll}}</td>
       
        </tr>
        {% endfor %}
    </table>
    <br><br>
    <table>
        <th>ID</th>
        <th>Name</th>
        <th>Roll</th>
        {% for st in e %}
        <tr>
            <td>{{st.id}}</td>
            <td>{{st.name}}</td>
            <td>{{st.roll}}</td>
       
        </tr>
        {% endfor %}
    </table>
</body>
</html>